body {
    background-image: linear-gradient(#2c3247,#764e82);
    background-repeat: no-repeat;
    background-position:center;
    color:antiquewhite;
    box-sizing: border-box;
}

h1 {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

h5
{
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px;
    color: #a567a1;
    font-family: 'Courier New', Courier, monospace;
}

p{
    margin: 0px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    background-color: rgb(29, 28, 58);
    border-radius: 20px;
    margin:10px;
    min-width: 600;
    max-width: 700px;
    align-self: center;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li{
    display: inline; 
}

li a{
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    background-color: #a567a1;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a:hover {
    background-color: rgb(29, 28, 58);
}

table a {
    color: antiquewhite;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    background-color: #a567a2;
    overflow: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table{
    padding: 10px;
}

img {
    margin: 10px;
}