body
{
    background-color: black;
    color: #d338f2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 20px;
}

h1
{
    font-size: 60px;
    font-weight: 100;
}

h2
{
    font-size: 30px;
    font-weight: 100;
    margin: 0px;
}

img
{
    border: 2px dashed;
    padding: 5px;
    margin: 5px;
}

p
{
    color:#fff;
}

a
{
    color: #d338f2;
    text-decoration: none;
}

a:hover
{
    background-color: #d338f2;
    color:yellow;
}