body
{
    background-color: black;
    color: #d338f2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 20px;
}

h1
{
    font-weight: 100;
    margin: 10px;
}

h2
{
    font-weight: 100;
    margin: 0px;
}

img
{
    border: 2px dashed;
    padding: 5px;
    margin: 5px;
}

p
{
    color:#fff;
}

a
{
    color: #d338f2;
    text-decoration: none;
}

a:hover
{
    background-color: #d338f2;
    color:yellow;
}

HighlightRed
{
    color: red;
}

HighlightYellow
{
    color: yellow;
}

.flex-column
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}