body
{
    background-color: rgb(24, 21, 36);
    color: rgb(255, 255, 255);
}

p
{
    color: rgb(255, 255, 255);
}

h1
{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-row
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-column
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

button
{
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgba(255, 255, 255, 0%);
    color: rgb(170, 61, 233);
    border: 2px inset rgb(170, 61, 233);
}

button:hover
{
    background-color: rgb(170, 61, 233);
    border: 2px outset rgb(92, 34, 126);
    color: white;
}