body
{
    background-color: rgb(6, 5, 8);
    color: rgb(255, 255, 255);
}

p
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1
{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(170, 61, 233);
    padding: 5px;
}

.flex-row
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: 2px solid red;
}

.flex-column
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid blue;
}

.container
{
    padding: 10px;
    margin: 5px;
    justify-content: center;
    border: 2px solid yellow;
}

.inner-container
{
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

button
{
    width: 100%;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgba(255, 255, 255, 0%);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(170, 61, 233);
}

button:hover
{
    
    border: 2px outset rgb(92, 34, 126);
    color: white;
    animation: fadeInBGColorEffect 1s forwards;
}

button.active
{
    border: 2px outset rgb(92, 34, 126);
    color: white;
    animation: fadeInBGColorEffect 1s forwards;
}

.tabContent
{
    border: 2px solid green;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

img
{
    border: 2px solid rgb(170, 61, 233);
}

@keyframes fadeInBGColorEffect {
  from {background-color: none;}
  to {background-color: rgb(170, 61, 233);}
}