body
{
    background-color: rgb(9, 8, 24);
    color: rgb(255, 255, 255);
}

p
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

h1
{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(103, 57, 179);
    padding: 5px;
}

h2
{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(103, 57, 179);
    padding: 5px;
}

h3
{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    
}

ul
{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-row
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flex-column
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid blue;
}

.container
{
    padding: 10px;
    margin: 5px;
    justify-content: center;
}

.inner-container
{
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

button
{
    width: max-content;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgba(255, 255, 255, 0%);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(103, 57, 179);
}

button:hover
{
    
    border: 2px outset rgb(92, 34, 126);
    color: white;
    animation: fadeInBGColorEffect 1s forwards;
}

button.active
{
    border: 2px outset rgb(92, 34, 126);
    color: white;
    animation: fadeInBGColorEffect 1s forwards;
}

.tabContent
{
    padding: 10px;
    margin: 20px;
    text-align: center;
    animation: slideInEffect 10s ease-in;
}

a
{
    color: blueviolet;
    text-decoration: dashed;
}

img
{
    border: 2px solid rgb(103, 57, 179);
}

summary
{
    font-size: x-large;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    justify-self: left;
    margin: 10px;
}

@keyframes fadeInBGColorEffect {
  from {background-color: none;}
  to {background-color: rgb(103, 57, 179);}
}

@keyframes slideInEffect
{
    from {bottom: 100px;}
    to {bottom: 0px;}
}

.slide-in-animation
{
    animation-name: slideInEffect;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}